<div class="bg-white rounded-lg border p-4 shadow-md mb-2 cursor-pointer select-none" (dblclick)="onToggle(item)">
  <div class="flex justify-between items-center mb-2"   >
    <h2 class="text-lg font-semibold">{{ item.text }}</h2>
    <div class="space-x-2">
      <button
        class="text-blue-500 hover:text-blue-700"
        (click)="editItem(item)"
      >
        Edit
      </button>
      <button
        class="text-red-500 hover:text-red-700"
        (click)="deleteItem(item)"
      >
        Delete
      </button>
    </div>
  </div>
  <p class="text-gray-500 mb-2">{{ item.day }}</p>
  <div class="flex items-center">
    <span class="text-sm mr-2">Reminder:</span>
    <div
      class="w-4 h-4 rounded-full {{
        item.reminder ? 'bg-green-300' : 'bg-red-300'
      }}"
    ></div>
    <i class="ml-2">double click to toggle</i>
  </div>
</div>
